<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      body {
          width: 100vw;
          height: 100vh;
      }
      .header {
        height: 50px;
        width: 100vw;
        background-color: red;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
      }
     
      a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;

        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header">
        <a href="/" class="home">Home</a>
        <a href="/upload" class="uploads">Upload</a>
        <a href="/clearall" class="delete">Clear All</a>
      </div>
    </header>
  </body>
</html>
