<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>File Upload</title>
</head>

<body>
    
  
    <%- include('partials/header'); -%>

    
    
<div class="img-container">

    <% for(var i=0; i<Imagepath.length; i++){ %>
        
            <img src='<%= Imagepath[i] %>' alt="" class="images">
          

  <%  }%>

</div>







</body>
</html>