<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .btngoback {
    text-decoration: none;
    width: 100px;
    height: 50px;
    background-color: red;
    padding: 10px;
    color: white;
    font-family: sans-serif;
}
    </style>
</head>
<body>
    <h1>Upload successful</h1>
    <a href="/upload" class="btngoback">Go back</a>
</body>
</html>