<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/upload.css" />
    <title>Upload Image</title>
 
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="form-input">
      <div class="preview">
        <img id="image-preview">
      </div>
     
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" class="file" name="uploadimg"  onchange="showPreview(event)"/>
        <button type="submit" name="upload" class="btn-upload" >Upload</button>
      </form>
    </div>
  </body>
  <script>
     function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("image-preview");
    preview.src = src;
    preview.style.display = "block";
  }
}
  </script>
</html>
