<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/upload.css" />
    <title>Upload Image</title>
 
  </head>
  <body>
    <%- include('partials/header'); -%>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" class="file" name="uploadimg" />
      <button type="submit" name="upload" class="btn-upload" >Upload</button>
    </form>
  </body>
</html>
